*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D6EFD;
    height: 100vh;
}
.heading{
    text-align: center;
    font-size: 24px;
    color: white;
    text-shadow:
        -2px -2px 0  #0D6EFD,
        1px -1px 0   #0D6EFD,
        -1px 1px 0   #0D6EFD,
        1px 1px 0    #0D6EFD;
}
.text{
    margin-right: 5%; 
    margin-left: 3%;
    width: 70%;
    padding: 2.1%;
    border-radius: 5px;
    border-color: #4d90f3;
    font-size: 90%;
    outline: none;
}
.text:hover{
    border-color: blue;
}
.container {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100px;
    min-width: 300px;
    background: whitesmoke;
    border-radius: 10px;
    padding-top: 0.3%;
  }
.push{
    background-color: #4d90f3;
    border-color:  #4d90f3;
    border-radius: 5px;
    width: 20%;
    padding: 2.1%;
    cursor: pointer;
    outline: none; 
    font-size: 90%;
    color: white;
    border: none;
    opacity:0.8;
}
.push:hover{
    outline: none;
    border-color: rgb(78, 78, 221);
    opacity :1;
}
.task{
    border: 2px solid #4d90f3;
    margin-top: 2%;
    width: fit-content;
    padding: 1.5%;
    border-radius: 50px;
    background-color: #4d90f3;
    color: white;
    display: flex;
    align-items: center;
}
#taskname{
    flex-grow: 1;
    /* overflow: hidden; 
    text-overflow: ellipsis;*/
    white-space: nowrap;  
}
.btn-remove{
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    /* border: none;  */
    background-color: rgb(250, 250, 251);
    /* padding: 2%; */
    color: rgb(6, 6, 6);
    font-size: 70%;
    width: 20px;
}
